.test-container{
  max-width: 900px;
  margin: 0 auto;
}

.test-spacer {
  flex: 1 1 auto;
}

.main-slider {

	width: 100%;
	height: 300px;
	background: red;
}

.first-block{

	padding: 30px;
}

.example-card {
  width: 100%;
}

.item {
	padding: 20px;
}
