<mat-drawer-container class="test-container">
  <mat-drawer mode="side">Drawer content</mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <span>My Application</span>
			<span class="test-spacer"></span>

			<button mat-button color="primary">Primary</button>
			<button mat-button color="accent">Accent</button>
    </mat-toolbar>
		<div class="main-slider"></div>
		<div class="first-block">
			<div class="title text-center" fxLayoutAlign="center center" fxLayout="row">
				<h2>Que esta buscando ?</h2>
			</div>
			<div class="block-buttons" fxLayout="row" fxLayoutAlign="space-around center">
				<button mat-button color="primary">test</button>
				<button mat-button color="primary">test</button>
				<button mat-button color="primary">test</button>
			</div>
		</div>
		<div class="container" fxLayout="row wrap" fxLayoutAlign="center">
			<!-- you can use ngClass to manage 'item-1' or 'item-2' style -->
			<div class="item" fxFlex="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
				<mat-card class="example-card">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Shiba Inu</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="item" fxFlex="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
				<mat-card class="example-card">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Shiba Inu</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="item" fxFlex="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
				<mat-card class="example-card">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Shiba Inu</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="item" fxFlex="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
				<mat-card class="example-card">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Shiba Inu</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="item" fxFlex="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
				<mat-card class="example-card">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Shiba Inu</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
			<div class="item" fxFlex="33.33%" fxFlex.sm="50%" fxFlex.xs="100%">
				<mat-card class="example-card">
					<mat-card-header>
						<div mat-card-avatar class="example-header-image"></div>
						<mat-card-title>Shiba Inu</mat-card-title>
						<mat-card-subtitle>Dog Breed</mat-card-subtitle>
					</mat-card-header>
					<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
					<mat-card-content>
						<p>
							The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
							A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
							bred for hunting.
						</p>
					</mat-card-content>
					<mat-card-actions>
						<button mat-button>LIKE</button>
						<button mat-button>SHARE</button>
					</mat-card-actions>
				</mat-card>
			</div>
		</div>
  </mat-drawer-content>
</mat-drawer-container>
